<div class='font-sans text-black leading-normal'>
  {{docs-header logo='ember-cli'}}

  {{! BEGIN-SNIPPET docs-demo-application-template.hbs }}
  {{outlet}}

  {{docs-keyboard-shortcuts}}
  {{! END-SNIPPET }}
</div>
